{% extends "pages/base.html" %}

{% block title %}
Ca Lang Thang
{% endblock %}

{% block content %}
    <section class="post pb-4">
        <div class="container-md">
            <div class="card mb-4">
                <div class="row g-0 overflow-hidden flex-column flex-md-row position-relative">
                    <div class="col-md-4 col-sm-12">
                        <div class="post-featured-img"
                        style="background-image: url('https://lh3.googleusercontent.com/wKoPFCEjmetOthoyo3xH3KpUDxhS_rJqOI6gJFQYqqXppl_Yv5d_5PqVjunC9XOtAwePSXjNjxuzaIKcyleSyQQgiOg3_q7sBG01gmnh0iAICWn8Yd2UnVJ9AJ4XevWq1soTeDtAek577eC8wHR_3PjLTOwFuqY0fwk5ui29y7VIF1B-ieNfnuHg7t2WMJ6jq0hoOxwhANuAW7NIj39nWtrnYOSa6G6525Hipo-WlVtPsFCIyrKs782VtgjBmjA7GNsau7aDQeS79vcw9XjJlZ5RD-NAQiyUq1djedC0OrIFwoxSHqcex0SaACw-Kbxw67vvFlvNobkJ7kpeFc2gDwPCSALfc3LxXhULzDHf6sCl-1oqtLeUsSpA74F20BmPlxPbi6k_6LAvM3_lB4ECB8m1_nY5w0hvpRxUS9sK0nv1C_5vWnSrmsK0I-1O0RSgvxKslSE0g1HHPA1Bkzt1V7Vq8BOhwR_evFmFkhiOvjqkAtR1xyqzIdZxiY2X0go6fMEgZF_hcYUCoBnu53G7tTcbFL9S9kallzKRgsFTzqy1MFFw65Vli7d9vC3LlLpZQDKm9zdhp6BNMERUnxaKwfJtMGYNat7b7Es5ie4kTJTkUa2uubdmMZyZ4I9-zzwZZlum3zaRvGq_pJOIPpNOLbT8ZYf39Q-Wwu5qQz1wCl-N-mEZk-ktCwyOFulBFfM7L2_dOa7Em38XhUyv1b3F5gx4a3SgapOyI48DTe1kD2uHzkpLwEQVnzz3HmW-goa9WoyGBfrfKLSVU3ZA1rrTEbl7UGh2fElIo-uVHplpA2iXzrwADaU4xGPRqKkr5IJhhomc=w509-h904-no?authuser=187]\9');"></div>
                    </div>
                    <div class="col-md-8 col-sm-12 d-flex flex-column position-static">
                        <div class="card-body">
                        <h5 class="card-title fw-bold mb-1">Pekemdayyy</h5>
                        <p class="card-text fs-5">Full Name: Nguyen Tran Anh Khoa<br>Birthday: 140/06/2002<br>Job: Backend Developer<br>Address: Ho Chi Minh City</p>
                        </div>
                        <div class="card-footer pt-0">
                        <hr class="mt-0" />
                        <div class="d-flex align-items-center">
                            <img src="https://lh3.googleusercontent.com/C8Q718WD4-oqc_b6CWTqsNnucMB1KPQWKeaEd7cdv-g2e6Q2GbzuN8k23V1fBCMRGp_cN7ZaneBipzvMO8nOwrWnDGRpWFlFB2ggVXYXvEidvVwHKFozZIRT8QdZ8tyTZbR3091HdoxDZnkQ6gt2Pkov0Z_e6iNP6dJM9j-Q1NSTJO2kTOU7Fy1Yi46gGegldbbn53eACqNv0NsIleU-MuuBl593bzhwNepF8_jn4KX4LyNoKAEoCGaod58uRk4E1eAl5MZ3rhQvbr2nWdIwHE8DhnO9OtHai1ScgIJ-PTgqSN4eMeNMoRL-OC3qYiGHywNLGe_13C5egof0GyqjwD9cfSH9h1lTb9OtRyMfVpHruIMOe7dlNIG7k2S2TR5PBcTJIPskO2PukqIa_tv0HP9ndN0zWSj5B20vL1TGDgvBchsvBCnpjrQ0jcP-lJqvNT4ZMAYtOMpjkavLNRe_MO8Uc9yezyb9cc9QAuW4DJaCH-GZ8ZzK3c1rZwXsPbqkNOHyxqDBSy42bF2ItLykKDj6v04JH7RBXRasUgZtLsKtr0Og51qoiDf-EqDRl590BqXXofFpcPaRlJJYdbhA1qGPQxcspJVDd3L9bs73PCimePJDh6ttQT1fX4RCQ1Fk5hWrrSFAeWGk1-QyNOgWvXlCbyjdNV8DqRvgKmvky5QYT-Sk41CfkwR7FDfAzo4Iw9Bl7rmlX392A9QwIM87xkq_gnuo182-AF9_QnWYvVU5IRREAGZxVDHHlt3TYXl6hqwzajp7gFTYiopIZdO_akN1eHHHPS7M=w750-h901-no?authuser=0"
                                class="post-preview-meta-img me-2 rounded-circle" />
                        <div class="d-flex flex-grow-1 flex-column justify-content-center align-items-start">
                            <div class="small fw-bold">Cá Lang Thang</div>
                            <div class="small text-muted"></div>
                        </div>
                        </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
{% endblock %}